@import url(https://db.onlinewebfonts.com/c/2a34803e470cf60381ef14806bc84ab7?family=FoundersGroteskLight);
@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

.text-gradient {
    background: linear-gradient(to right,rgb(124, 88, 168),rgb(235, 167, 234));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
.mark{
    font-family:"Mark Pro";
}
.founder{
    font-family: "FoundersGroteskLight";
}
  