@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);
@import url(https://db.onlinewebfonts.com/c/2a34803e470cf60381ef14806bc84ab7?family=FoundersGroteskLight);

#parallax p {
  font-family: "FoundersGroteskLight";
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

#parallax h1 {
  font-family: "FoundersGroteskLight";
  font-weight: 600;
  font-size: 52px;
  line-height: 40px;
  margin-bottom: 25px;
}

/* Section - Block */
#parallax .block {
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

/* Section - Parallax */
#parallax .parallax-one {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right, rgb(0, 0, 0) 40%, transparent), url(https://img.freepik.com/free-photo/3d-render-modern-network-communications-with-low-poly-design_1048-13802.jpg?w=740&t=st=1701994759~exp=1701995359~hmac=c1e2ff3a6b560fd6c70768449480905143d4d95d4a1a00c716b4139330281d90);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


#parallax .parallax-two {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image:linear-gradient(to right, rgb(0, 0, 0) 40%, transparent), url(https://img.freepik.com/free-photo/3d-abstract-soundwaves-background-with-flowing-lines_1048-15842.jpg?w=740&t=st=1701837854~exp=1701838454~hmac=6f5b049f0d25760907780336bc180db2cd54c13bc949a823ffebc642b4c3a308);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



/* Media Queries */
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax .block {
    padding: 40px;
    width: 620px;
  }
}

@media screen and (max-width: 767px) {
  #parallax .block {
    padding: 30px;
    width: 420px;
  }

  #parallax h2 {
    font-size: 30px;
  }

  #parallax .parallax-one,
  #parallax .parallax-two {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  #parallax .block {
    padding: 30px 15px;
    width: 290px;
  }
}

.grayscale{
  filter: grayscale(40%);
}
