@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);
@import url(https://db.onlinewebfonts.com/c/363df8f171afbf83e5aac11fcf6f06f6?family=Founders+Grotesk);
@import url(https://db.onlinewebfonts.com/c/72112afab388987941068c3f7a741a53?family=Mark+Pro+Heavy);
@import url(https://db.onlinewebfonts.com/c/01d273202731e44f0f1187f3afcaf156?family=Mark+Pro+Bold);

#parallax p {
  font-family: "Founders Grotesk";
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

#parallax h1 {
  font-family: "Founders Grotesk";
  font-weight: 600;
  font-size: 52px;
  line-height: 40px;
  margin-bottom: 25px;
}

/* Section - Block */
#parallax .block {
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

/* Section - Parallax */
#parallax .parallax-one {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://img.freepik.com/premium-photo/abstract-technology-background-connection-structure-big-data-visualization-business_371307-89.jpg?w=900);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax .parallax-two {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://img.freepik.com/free-vector/futuristic-halftone-background_53876-90595.jpg?w=740&t=st=1698305940~exp=1698306540~hmac=345211e7fd0d7e6b65276d815b98eb898e1aee26b4084861bc348f9db2bcd121);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



/* Media Queries */
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax .block {
    padding: 40px;
    width: 620px;
  }
}

@media screen and (max-width: 767px) {
  #parallax .block {
    padding: 30px;
    width: 420px;
  }

  #parallax h2 {
    font-size: 30px;
  }

  #parallax .parallax-one,
  #parallax .parallax-two {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  #parallax .block {
    padding: 30px 15px;
    width: 290px;
  }
}