

header {
  position: sticky;
  font-size: 15px;
  font-family: "Mark Pro";
}

.top {
  font-size: 13px;
  border-bottom: 1px solid rgb(51, 50, 50);
  font-family: "Mark Pro";
}

.para {
  font-family: "Mark Pro";
  font-size: 20px;
  line-height: 40px;
}

.head {
  font-family: "Founders Grotesk";
  font-weight: 600;
  font-size: 52px;
  line-height: 40px;
  margin-bottom: 25px;
}

.item {
  position: relative;
}

.item:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right,rgb(214, 140, 197),rgb(96, 27, 186));
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: 0.1s;
}

.item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}


.text-gradient-footer {
  background: linear-gradient(to right,rgb(232, 225, 230),rgb(96, 27, 186));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

