@import url(https://db.onlinewebfonts.com/c/2a34803e470cf60381ef14806bc84ab7?family=FoundersGroteskLight);
@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

.mark {
    font-family: "Mark Pro";
}

.founder {
    font-family: "FoundersGroteskLight";
}

.mainText {
    font-family: "FoundersGroteskLight";
    font-size: 32px;
    color: #131318;
    font-weight: 400;
    line-height: 35px;
}

.subText {
    font-family: "FoundersGroteskLight";
    font-size: 21px;
    color: #232630;
    font-weight: 300;
    line-height: 29px;
}

.mainSubText {
    font-family: "FoundersGroteskLight";
    font-size: 25px;
    color: #232630;
    font-weight: 400;
    line-height: 35px;
}