@import url(https://db.onlinewebfonts.com/c/2a34803e470cf60381ef14806bc84ab7?family=FoundersGroteskLight);
@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

.allsightlink {
  background-color: rgb(144, 96, 188, 0.3);
  color: rgb(48, 11, 85);
  padding: 8px;
  border-radius: 3px;
}

.allsightlink:hover {
  background: linear-gradient(to right, rgb(43, 18, 74), rgb(115, 57, 186));
  color: white;
  box-shadow: 0 0 20px rgba(58, 16, 110, 0.3);
}

.hidden-mobile {
  display: block;
}

@media (max-width: 640px) {
  .hidden-mobile {
    display: none;
  }
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to bottom, rgba(19, 19, 24, 1) 0%, rgba(19, 19, 24, 0) 100%);
}

@media (max-width: 640px) {
  .mq {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.optionDiv{
  backdrop-filter: blur(10px); /* Adjust the blur value based on your preference */
  background-color: rgba(255, 255, 255, 0.6); /* Adjust the opacity value based on your preference */
}
