@import url(https://db.onlinewebfonts.com/c/2a34803e470cf60381ef14806bc84ab7?family=FoundersGroteskLight);
@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);
@import url(https://db.onlinewebfonts.com/c/01d273202731e44f0f1187f3afcaf156?family=Mark+Pro+Bold);

.mark {
  font-family: "Mark Pro";
}

.markBold {
  font-family: "Mark Pro Bold";
}

.founder{
  font-family: "FoundersGroteskLight";
}
.nav {
  padding-left: 100px;
  font-size: 13px;
}

nav ul {
  list-style: none;
  padding: 0;
}

.nav-item {
  position: relative;
  margin: 0;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 2px;
  height: 97%;
  background-color: #fff;
  transition: background-color 0.3s;
}

.nav-item.active-line::before {
  background: linear-gradient(to bottom, rgb(89, 42, 146), rgb(186, 57, 184));
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
}

#section1 {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 290px;
  font-size: 25px;
}

#section2 {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 290px;
  font-size: 25px;
}

#section3 {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 290px;
  font-size: 25px;
}

#section4 {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 290px;
  font-size: 25px;
}

.image-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
}

.image1,
.image2,
.image3,
.image4 {
  height: 450px;
  width: 620px;
}

.image-overlay {
  position: absolute;
}

.image-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.description {
  width: 94%;
  height: 100px;
  margin-top: 335px;
  margin-left: 18px;
  background: rgba(225, 225, 225, 0.1);
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 15px;
}

.description:hover {
  background: linear-gradient(to right, rgb(39, 13, 72), rgb(186, 57, 184, 0.5));
}

.mobile-nav {
  position: sticky;
  top: 50px;
  z-index: +1;
  padding: 10px;
}

.mobile-content {
  padding-top: 10px;
}

.section {
  margin: 0 auto;
  max-width: 600px;
  padding: 0px;
}

.navItems {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navItem {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
}

.section#sec3+.mobile-nav {
  position: relative;
}

.act {
  border-bottom: 3px solid rgb(116, 57, 168);
}